[data-nick='nick-wrapper'] {
  position: relative;

  [data-nick='nick-slider'] {
    position: inherit;
    width: 100%;
    height: inherit;
    overflow: hidden;

    [data-nick='nick-slider-screen'] {
      display: flex;
      flex-wrap: nowrap;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;

      [data-nick='nick-slide'] {
        min-width: 100%;
        width: inherit;
        height: inherit;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  [data-nick='nick-dots'] {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);

    [data-nick='nick-dot'] {
      margin: 5px;
      width: 10px;
      height: 10px;
      background-color: $color-light-grey;
      border-radius: 50%;
      transition: background-color $trans;
      cursor: pointer;

      &:not(.active):hover {
        background-color: $color-grey;
      }

      &.active {
        background-color: $color-rose;
      }
    }
  }

  [data-nick='nick-next-btn'],
  [data-nick='nick-prev-btn'] {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    padding: 0;
    width: 30px;
    height: 30px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: $color-black;
    background-color: rgba($color-white, 0.6);
    border: 0;
    border-radius: 50%;
    transition: color $trans-sm, background-color $trans;
    cursor: pointer;

    &:hover {
      background-color: $color-white;
    }

    &:active {
      color: $color-rose;
      background-color: $color-white;
    }
  }

  [data-nick='nick-next-btn'] {
    right: 10px;
  }

  [data-nick='nick-prev-btn'] {
    left: 10px;
  }
}
